@model ShopVM
<link rel="stylesheet" href="./assets/css/shop.css">


<main>
    <section id="menu-info" class="bg-black">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <span class="text-light menu-info-text">
                        <a href="index.html">Home</a> > <span style="border-bottom: 1px solid #f0d115;">Products</span>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section id="product-type-products" class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-3 left-filters">
                    <span class="banner-header-text">product ban type</span>
                    <div class="product-type-box">
                        <ul>
                            @foreach (var item in Model.BanTypes)
                            {
                                <li class="p-1"><a href="">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <span class="banner-header-text">Catalog</span>
                    <div class="product-catalog-box">
                        
                        <h6 style="font-weight: 700;color: #666;border-bottom: 1px solid rgba(0,0,0,.1);;"
                            class="p-2">
                            Price
                        </h6>
                        <div>
                            <div class="row p-2 catalog p-3">
                                <div class="col-12">
                                    <a href="#"><i class="fa-regular fa-square"></i> Under $50</a>
                                </div>
                                <div class="col-12 mt-2">
                                    <a href="#"><i class="fa-regular fa-square"></i> $50 - $100</a>
                                </div>
                                <div class="col-12 mt-2">
                                    <a href="#"><i class="fa-regular fa-square"></i> $100 - $200</a>
                                </div>
                                <div class="col-12 mt-2">
                                    <a href="#"><i class="fa-regular fa-square"></i> $200 - $400</a>
                                </div>
                                <div class="col-12 mt-2">
                                    <a href="#"><i class="fa-regular fa-square"></i> Above $400</a>
                                </div>

                            </div>
                        </div>
                        <h6 style="font-weight: 700;color: #666;border-bottom: 1px solid rgba(0,0,0,.1);;"
                            class="p-2">
                            Color
                        </h6>
                        <div>
                            <div class="row p-2 catalog p-3">
                                <div class="col-6">
                                    <div class="d-flex">
                                        <div style="width: 24px; height: 24px; background-color: white; border: 1px solid black;">
                                        </div>
                                        <a href="#" class="mx-2 mt-1">White</a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex">
                                        <div style="width: 24px; height: 24px; background-color: silver; border: 1px solid black;">
                                        </div>
                                        <a href="#" class="mx-2 mt-1">Silver</a>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="d-flex">
                                        <div style="width: 24px; height: 24px; background-color: gray; border: 1px solid black;">
                                        </div>
                                        <a href="#" class="mx-2 mt-1">Gray</a>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="d-flex">
                                        <div style="width: 24px; height: 24px; background-color: black; border: 1px solid black;">
                                        </div>
                                        <a href="#" class="mx-2 mt-1">Black</a>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="d-flex">
                                        <div style="width: 24px; height: 24px; background-color: red; border: 1px solid black;">
                                        </div>
                                        <a href="#" class="mx-2 mt-1">Red</a>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="d-flex">
                                        <div style="width: 24px; height: 24px; background-color: yellow; border: 1px solid black;">
                                        </div>
                                        <a href="#" class="mx-2 mt-1">Yellow</a>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="d-flex">
                                        <div style="width: 24px; height: 24px; background-color: green; border: 1px solid black;">
                                        </div>
                                        <a href="#" class="mx-2 mt-1">Green</a>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="d-flex">
                                        <div style="width: 24px; height: 24px; background-color: Blue; border: 1px solid black;">
                                        </div>
                                        <a href="#" class="mx-2 mt-1">Blue</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <span class="banner-header-text">Best Sellers</span>
                    <div class="product-type-box">
                        <div class="row p-3">
                            <div class="col-12" style="border-bottom: 1px solid rgba(0,0,0,.1);;">
                                <div class="d-flex align-items-center">
                                    <div style="width: 100px; height: 70.5px;" class="mt-2">
                                        <img src="./assets/img/card2-2.webp" class="img-fluid" alt="">
                                    </div>
                                    <div>
                                        <h6 class="p-2">Quam vitnibh aliqueobo</h6>
                                        <span class="card-price">$450.00</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12" style="border-bottom: 1px solid rgba(0,0,0,.1);;">
                                <div class="d-flex align-items-center">
                                    <div style="width: 100px; height: 70.5px;" class="mt-2">
                                        <img src="./assets/img/card3-2.webp" class="img-fluid" alt="">
                                    </div>
                                    <div>
                                        <h6 class="p-2">Quam vitnibh aliqueobo</h6>
                                        <span class="card-discount-price">$120.00</span>
                                        <span class="card-price">$65.00</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12" style="border-bottom: 1px solid rgba(0,0,0,.1);;">
                                <div class="d-flex align-items-center">
                                    <div style="width: 100px; height: 70.5px;" class="mt-2">
                                        <img src="./assets/img/card4-2.webp" class="img-fluid" alt="">
                                    </div>
                                    <div>
                                        <h6 class="p-2">Quam vitnibh aliqueobo</h6>
                                        <span class="card-discount-price">$120.00</span>
                                        <span class="card-price">$65.00</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12" style="border-bottom: 1px solid rgba(0,0,0,.1);;">
                                <div class="d-flex align-items-center">
                                    <div style="width: 100px; height: 70.5px;" class="mt-2">
                                        <img src="./assets/img/card5-2.webp" class="img-fluid" alt="">
                                    </div>
                                    <div>
                                        <h6 class="p-2">Quam vitnibh aliqueobo</h6>
                                        <span class="card-discount-price">$120.00</span>
                                        <span class="card-price">$65.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-9 right-filters">
                    <span class="banner-header-text">Products</span>
                    <div class="bg-white sort-by-featured-shop d-flex justify-content-between">
                        <div class="p-2">
                            <span style="font-family: 'Raleway'; font-size: 14px;">Sort by</span>
                            <select name="SortBy" id="sort-by-dropdown" class="custom-dropdown">
                                <option value="alphabetically-az" class="dropdown-option">
                                    Alphabetically, A-Z
                                </option>
                                <option value="alphabetically-za" class="dropdown-option">
                                    Alphabetically, Z-A
                                </option>
                                <option value="price-low-to-high" class="dropdown-option">
                                    Price, low to high
                                </option>
                                <option value="price-high-to-low" class="dropdown-option">
                                    Price, high to low
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="row mt-2">
                        
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-xs-6 col-sm-6 col-lg-4 mt-4">
                                <div class="big-card">
                                    <h6 class="card-top-title">@item.Name</h6>
                                    <div class="card-img">
                                        <div class="right-images vis-hidden">
                                            <h6 class="text-center">
                                                <a href="">
                                                    <i class="fa-solid fa-chevron-up"></i>
                                                </a>
                                            </h6>
                                            <div class="col-12">
                                                <img src="./assets/img/card5-2.webp" alt="" class="img-fluid">
                                            </div>
                                            <div class="col-12 mt-1">
                                                <img src="./assets/img/card2-2.webp" alt="" class="img-fluid">
                                            </div>
                                            <div class="col-12 mt-1">
                                                <img src="./assets/img/card1-2.webp" alt="" class="img-fluid">
                                            </div>
                                            <h6 class="text-center">
                                                <a href="">
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <span class="card-tag">
                                            <span class="card-tag-text">new</span>
                                        </span>
                                        <img src="./assets/img/card5-2.webp" alt="" class="img-fluid main-image">
                                    </div>

                                    <div class="price-box">
                                        @if (item.Discount.Name == "None")
                                        {
                                            <span class="card-price d-inline">$@item.Price</span>
                                        }
                                        else
                                        {
                                            <span class="card-price d-inline" style="color:red;">
                                                $@(Convert.ToDecimal(item.Price) * (1 - (item.Discount.DiscountPercent / 100m)))
                                            </span>
                                            <span class="card-price d-inline" style="text-decoration:line-through">$@item.Price</span>
                                        }

                                    </div>

                                    <div class="card-bottom p-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <button class="card-button">add to cart</button>
                                            </div>
                                            <div class="col-8 align-items-center">
                                                <span class="card-description">
                                                    Lorem ipsum dolor sit amet
                                                    consectetur
                                                    adipisicing elit. A voluptate suscipit error iure, molestias
                                                    reprehenderit deserunt sapiente ...
                                                </span>
                                                <div class="card-description-icons gap-5 disable">
                                                    <a href=""><i class="fa-solid fa-heart"></i></a>
                                                    <a href=""><i class="fa-solid fa-info"></i></a>
                                                    <a href=""><i class="fa-solid fa-eye"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row bg-white mt-2">
                        <div class="col-12 mb-2 justify-content-center align-items-center d-flex">
                            <div class="next-button-products mt-2 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-angle-left"></i>
                            </div>
                            <div style="background-color: black; color: white !important;" class="next-button-products mt-2 d-flex justify-content-center align-items-center">
                                <span style="font-family: 'Raleway';">1</span>
                            </div>
                            <div class="next-button-products mt-2 d-flex justify-content-center align-items-center">
                                <span style="font-family: 'Raleway';">2</span>
                            </div>
                            <div class="next-button-products mt-2 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>