@model News

<div class="container mt-5">
    <h3 class="text-center">Create new news</h3>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <input type="text" asp-for="Title" class="form-control mt-5" placeholder="Enter news's title...">
        <span class="text-danger d-block" asp-validation-for="Title"></span>
        <input type="text" asp-for="Desc" class="form-control mt-5" placeholder="Enter category's description...">
        <span class="text-danger d-block" asp-validation-for="Desc"></span>
        <input asp-for="Photo" class="form-control mt-5">
        <span class="text-danger d-block" asp-validation-for="Photo"></span>
        <button type="submit" class="btn btn-success mr-2 mt-3">Submit</button>
        <a asp-action="Index" class="btn btn-primary mx-2 mt-3">Cancel</a>
    </form>

</div>
