<footer class="mt-5">
    <section id="footer-first">
        <div class="container">
            <div class="row">
                <div class="col-12 p-3 shopping-return-update-support"
                     style="border-bottom: 1px solid rgba(0,0,0,.1);">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-truck fa-flip-horizontal mx-2"></i>
                                <div>
                                    <h6>FREE SHIPING</h6>
                                    <span>On order over $500.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-rotate-left"></i>
                                <div>
                                    <h6>FREE RETURN</h6>
                                    <span>Free 90 days return policy</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-calendar-days"></i>
                                <div>
                                    <h6>
                                        DAILY UPDATE
                                    </h6>
                                    <span>
                                        Check our store for latest items

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-users"></i>
                                <div>
                                    <h6>
                                        SUPPORT 24/7
                                    </h6>
                                    <span>Hotline: 0123 456789</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 first-footer-div-1">
                    <img src="./assets/img/shop_images_footer_2x.webp" alt="">
                    <span style="
                    font-family: 'Raleway';
                    color: black;
                    font-size: 14px;
                    ">
                        Sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh
                        id
                        elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                        velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                    </span>
                </div>
                <div class="accordion first-footer-accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                NEW TWEETS
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <i class="fa-brands fa-x-twitter p-4" style="font-size: 40px;"></i>
                                <h3 class="mt-4 p-3" style="font-weight: 900; font-family: 'Raleway';">
                                    Nothing to see <br> here - yet
                                </h3>
                                <span class="p-3" style="font-family: 'Raleway';color: #666;">
                                    When they post, their posts will show up here.
                                </span><br>
                                <button class="view-on-x-btn mt-2">View on X</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                CONTACT
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <span class="banner-header-text d-block">Contact</span>
                                <p>
                                    <i class="fas fa-map-marker-alt"></i>
                                    Location<br>
                                    30 South Park Avenue San Francisco, CA 94108, USA
                                </p>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    Phone: 0123 456 789 11
                                </p>
                                <p>
                                    <i class="fas fa-fax"></i>
                                    Fax: 1234 758 955 12
                                </p>
                                <p>
                                    <i class="fas fa-envelope"></i>
                                    Email: <a href="mailto:contact@carsmarket.com"
                                              class="contact-link">contact@carsmarket.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 first-footer-div-2">
                    <span class="banner-header-text d-block">new tweets</span>
                    <i class="fa-brands fa-x-twitter p-4" style="font-size: 40px;"></i>
                    <h3 class="mt-4 p-3" style="font-weight: 900; font-family: 'Raleway';">
                        Nothing to see <br> here - yet
                    </h3>
                    <span class="p-3" style="font-family: 'Raleway';color: #666;">
                        When they post, their posts will show up here.
                    </span><br>
                    <button class="view-on-x-btn mt-2 mb-5">View on X</button>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 first-footer-div-3">

                    <span class="banner-header-text d-block">Contact</span>
                    <p>
                        <i class="fas fa-map-marker-alt"></i>
                        Location<br>
                        30 South Park Avenue San Francisco, CA 94108, USA
                    </p>
                    <p>
                        <i class="fas fa-phone-alt"></i>
                        Phone: 0123 456 789 11
                    </p>
                    <p>
                        <i class="fas fa-fax"></i>
                        Fax: 1234 758 955 12
                    </p>
                    <p>
                        <i class="fas fa-envelope"></i>
                        Email: <a href="mailto:contact@carsmarket.com"
                                  class="contact-link">contact@carsmarket.com</a>
                    </p>

                    <div class="social-media">
                        <p>FOLLOW US ON SOCIAL</p>
                        <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-link"><i class="fa-solid fa-rss"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 first-footer-div-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48550.17792231803!2d50.109069482477416!3d40.48884401384606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40305ec1623981cb%3A0x40970028dcf431b2!2zTcmZcmTJmWthbg!5e0!3m2!1saz!2saz!4v1729330050306!5m2!1saz!2saz"
                            width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-second" style="background-color: #333; color: #fff; padding: 40px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="footer-head-text">ACCOUNT</span>
                    <ul>
                        <li><a href="#" style="color: #666;">My orders</a></li>
                        <li><a href="#" style="color: #666;">My credit slips</a></li>
                        <li><a href="#" style="color: #666;">My addresses</a></li>
                        <li><a href="#" style="color: #666;">My personal info</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="footer-head-text">INFOMATIONS</span>
                    <ul class="mt-2">
                        <li><a href="#" style="color: #666;">About us</a></li>
                        <li><a href="#" style="color: #666;">Terms and conditions of use</a></li>
                        <li><a href="#" style="color: #666;">Contact us</a></li>
                        <li><a href="#" style="color: #666;">Sitemap</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="footer-head-text">QUICK LINKS</span>
                    <ul class="mt-2">
                        <li><a href="#" style="color: #666;">Nam nec tellus</a></li>
                        <li><a href="#" style="color: #666;">Codio tincidunt auctor</a></li>
                        <li><a href="#" style="color: #666;">Bornare odio</a></li>
                        <li><a href="#" style="color: #666;">Sed non mauris vitae</a></li>
                        <li><a href="#" style="color: #666;">Cerat consequat</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span class="footer-head-text">NEWSLETTER</span>
                    <p style="color: #666;">
                        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit
                        amet a augue.
                    </p>
                    <form>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control d-block w-100" placeholder="Your email..."
                                   aria-label="Your email">
                            <button class="subscribe-button" type="submit">SUBSCRIBE</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="border-top: 1px solid #393939;">
                <div class="col-12 d-flex justify-content-between">
                    <div>
                        <h6 class="end-footer-text">
                            Copyright © 2024 Powered by Apollotheme.
                        </h6>
                        <h6 class="end-footer-text">All Right Reserved</h6>
                    </div>
                    <div>
                        <h6 class="mx-4 " style="font-weight: 500; font-size: 13px;">ACCEPT PAYMENT</h6>
                        <div class="payment-img">
                            <img src="./assets/img/payment_2x.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
    </section>

</footer>